.card {
  border: unset;
  border-radius: unset;
  margin: .5rem 0;

  a {
    text-decoration: none;

    .card-img {
      border: 1px solid #aaa;
      position: relative;

      .ratio {
        padding-top: 100%;

        img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          object-fit: cover;
        }
      }
    }
  }

  .card-body {
    padding: .5rem .25rem;

    .card-title {
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    .card-price {
      font-size: 12px;
      line-height: 14px;
      font-weight: 300;
      color: #aaa;
    }
  }
}
