<div class="card">
   <a [routerLink]="['/product', product.id]">
      <div class="card-img">
         <div class="ratio">
            <img [src]="product.image | imgPath" class="img-fluid" [alt]="product.title">
         </div>
      </div>
   </a>
   <div class="card-body">
      <div class="card-title">
         <h5 class="">{{ product.title | titlecase }}</h5>
         <button class="btn btn-link">
            <img src="assets/icons/icon-wishlist.svg">
         </button>
      </div>
      <div class="card-price">{{ product.price | currency:'BRL':'symbol-narrow':'1.0' }}</div>
   </div>
</div>