.navbar {
  padding-top: unset;
  padding-bottom: unset;

  .navbar-brand {
    font-weight: 600;
  }

  .navbar-right {
    a {
      color: unset;
    }

    .navbar-toggler {
      border: unset;
    }
  }

  img {
    height: 21px;
  }
}
