<div #headerContainer>
   <app-header></app-header>
</div>

<section class="search" #searchContainer>
   <div class="container">
      <div class="input-group input-group-search">
         <span class="input-group-text bg-light" id="app-search">
            <img class="search-icon" src="assets/icons/icon-search.svg" alt="">
         </span>
         <input type="text" class="form-control bg-light" placeholder="Pesquisar nesta loja" aria-label="Pesquisar" aria-describedby="app-search"
            (click)="searchActivate()" (keyup)="searchExec()" [(ngModel)]="querySearch.search" #searchInput>
         <span class="input-group-text bg-light">
            <button type="button" class="close bg-light" aria-label="Limpar" (click)="searchClear()">
               <span aria-hidden="true">&times;</span>
            </button>
         </span>
         <button class="btn btn-link btn-cancel" (click)="searchDeactivate()" #searchCancel>Cancelar</button>
      </div>
   </div>
</section>

<section class="results" #resultsContainer>
   <div class="query">
      <div class="container">
         <app-card-query [query]="querySearch.search"></app-card-query>
      </div>
   </div>
</section>

<section id="store" class="store mt-3">
   <div class="container">
      <div class="row">
         <div class="col-6" *ngFor="let product of products">
            <app-card [product]="product"></app-card>
         </div>
      </div>
   </div>
</section>