<app-header #headerContainer></app-header>

<section class="search" #searchContainer>
   <div class="container">
      <div class="input-group input-group-search">
         <span class="input-group-text bg-light" id="app-search">
            <i class="bi bi-search"></i>
         </span>
         <input type="text" class="form-control bg-light" placeholder="Pesquisar nesta loja" aria-label="Pesquisar"
            aria-describedby="app-search" (keyup)="searchExec()"
            [(ngModel)]="querySearch.search" #searchInput>
         <span class="input-group-text bg-light" *ngIf="querySearch.search?.length">
            <button type="button" class="close bg-light" aria-label="Limpar" (click)="searchClear()">
               <span aria-hidden="true">&times;</span>
            </button>
         </span>
      </div>
   </div>
</section>

<section id="store" class="store mt-3">
   <div class="container">
      <div class="row">
         <div class="col-6" *ngFor="let product of products">
            <app-card [product]="product"></app-card>
         </div>
      </div>
   </div>
</section>