<nav class="navbar navbar-light">
   <div class="container">
      <a class="navbar-brand" [routerLink]="['/stores']" *ngIf="!isStore && !isProduct">
         <span *ngIf="titleLabel">{{ titleLabel }}</span>
         <span *ngIf="!titleLabel">Loja</span>
      </a>
      <a class="navbar-brand" [routerLink]="['/stores']" *ngIf="isStore">
         <img src="assets/icons/icon-arrow.svg" alt="Voltar">
         <app-profile-info [store]="store"></app-profile-info>
      </a>
      <a class="navbar-brand" [routerLink]="['/store', store?.id]" *ngIf="isProduct">
         <img src="assets/icons/icon-arrow.svg" alt="Voltar">
         <app-profile-info [store]="store"></app-profile-info>
      </a>
      <div class="navbar-right">
         <a [routerLink]="['/wishlist']"><i class="bi bi-bookmark"></i></a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
      </div>
      <div class="collapse navbar-collapse fixed-bottom bg-light shadow" id="navbarText">
         <div class="container">
            <div class="p-1 text-center">
               <i class="bi bi-dash-lg"></i>
            </div>
            <div *ngIf="isStore || isProduct">
               <app-profile [store]="store" [showPermalink]="false"></app-profile>
            </div>
            <span class="navbar-text">
               Instagram Shop
            </span>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/stores']">Lojas</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/wishlist']">Lista de desejos</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/cart']">Carrinho</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/config']">Configurações</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</nav>