<app-header [headerData]="headerData"></app-header>

<section id="stores" class="stores mt-3" *ngIf="stores$ | async as stores; else notFound">
    <div class="container">
       <div class="row">
          <div class="col-12" *ngFor="let store of stores">
            <div class="store">
               <a [routerLink]="['store', store.id]">
                  <app-profile [store]="store"></app-profile>
                  <div class="featured">
                     <div class="row g-0">
                        <div class="col-12">
                           <ng-template ngFor let-product let-i="index" [ngForOf]="store.products">
                              <img [src]="product.image | imgPath" class="card-img-top" [alt]="product.name" *ngIf="i<3">
                           </ng-template>
                        </div>
                     </div>
                  </div>
               </a>
            </div>
          </div>
       </div>
    </div>
 </section>
 
 <ng-template #notFound>
    <div class="alert alert-warning mt-3">Não há lojas no feed.</div>
 </ng-template>