<nav class="navbar navbar-light">
   <div class="container">
      <a class="navbar-brand" [href]="headerData.linkBack" *ngIf="headerData?.linkBack">
         <img src="assets/icons/icon-arrow.svg" alt="Voltar">
         <span class="profile-info">
            <img [src]="headerData.thumb | imgPath">
            <span>{{ headerData.title }}</span>
         </span>
      </a>
      <span class="navbar-brand" *ngIf="!headerData?.linkBack">
         <span>{{ headerData.title }}</span>
      </span>
      
      <div class="navbar-right">
         <a [href]="absLinkWishlist.url" [title]="absLinkWishlist.name"><i class="bi bi-bookmark"></i></a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
      </div>
      <div class="collapse navbar-collapse fixed-bottom bg-light shadow" id="navbarText">
         <div class="container">
            <div class="p-1 text-center">
               <i class="bi bi-dash-lg"></i>
            </div>
            <span class="navbar-text">
               Instagram Shop
            </span>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class="nav-item" *ngFor="let item of topNavMenuItems">
                  <a class="nav-link" [href]="item.url">{{ item.name }}</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</nav>