.store {
  margin-bottom: 1.5rem;

  .featured {
    img {
      width: calc(33% - 2px);
      height: 100%;

      &.card-img-top {
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        margin-left: 1px;
        margin-right: 1px;

        &:first-child {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
        }

        &:last-child {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
        }
      }
    }
  }
}
