<div class="store">
   <div class="profile">
      <div class="thumb">
         <img src="assets/images/4.jpeg" class="card-img-top" [alt]="store.name">
      </div>
      <div class="info">
         <h3>{{ store.profile }}</h3>
         <span>{{ store.followers }} seguidores</span>
      </div>
      <a [routerLink]="['/shop/store', 'f12dab04-b412-11eb-8529-0242ac130003']">Ver loja</a>
   </div>
   <div class="featured">
      <div class="row g-0">
         <div class="col-12">
            <img src="assets/images/1.jpeg" class="card-img-top" alt="...">
            <img src="assets/images/2.jpeg" class="card-img-top" alt="...">
            <img src="assets/images/3.jpeg" class="card-img-top" alt="...">
         </div>
      </div>
   </div>
</div>