<app-header #headerContainer></app-header>

<section id="product" class="product mt-3" *ngIf="product; else notFounded">
   <div class="container">
      <div class="image">
         <img [src]="product?.image | imgPath" class="img-fluid">
      </div>
      <div class="info">
         <div class="profile">
            <app-profile-info [store]="store"></app-profile-info>
            <app-btn-save [productId]="product?.id"></app-btn-save>
         </div>
         <h3>{{ product?.title | titlecase }}</h3>
         <p class="price">{{ product?.price | currency:'BRL':'symbol-narrow':'1.0' }}</p>
         <div class="d-grid gap-2 mt-3">
            <button class="btn btn-success btn-sm" (click)="addToCart(product?.id)" [disabled]="productAddedToCart">Adicionar ao Carrinho</button>
         </div>
      </div>
      <div class="description">
         <h5>Descrição</h5>
         <p>{{ product?.description | titlecase }}</p>
         <div class="about mt-5">
            <h5>Sobre essa loja</h5>
            <app-profile [store]="store" [showPermalink]="false"></app-profile>
            <div class="d-grid gap-2">
               <a class="btn btn-outline-light btn-store" [routerLink]="['/store', store?.id]">Ver loja</a>
            </div>
         </div>
      </div>
      <div class="related-products">
         <h5>Mais desta loja</h5>
         <div class="list">
            <div class="row">
               <div class="col-6" *ngFor="let relatedProduct of relatedProducts">
                  <app-card [product]="relatedProduct"></app-card>
               </div>
            </div>
         </div>
      </div>
      <div class="store-link mt-3">
         <app-profile-link [store]="store" replaceTitle="Continuar comprando"></app-profile-link>
      </div>
   </div>
</section>

<div class="alert alert-warning mt-3" #notFounded>
   Produto não encontrado.
</div>
