<app-header [headerData]="headerData"></app-header>

<section id="wishlist" class="wishlist mt-3">
   <div class="container">
      <div class="products" *ngIf="productsWishlist?.length else wishlistEmpty">
         <div class="row">
            <div class="col-6" *ngFor="let product of productsWishlist" [id]="product.id">
               <app-card [product]="product"></app-card>
            </div>
         </div>
      </div>
   </div>
</section>

<ng-template #wishlistEmpty>
   <app-empty [emptyData]="emptyData"></app-empty>
</ng-template>