<app-header></app-header>

<section id="product" class="product mt-3">
   <div class="container">
      <div class="thumb">
         <img [src]="product?.image | imgPath" class="img-fluid">
      </div>
      <div class="info">
         <!-- profile aqui -->
         <p class="title">{{ product?.title | titlecase }}</p>
         <p class="price">{{ product?.price | currency:'BRL':'symbol-narrow':'1.0' }}</p>
      </div>
      <div class="description">
         <h5>Descrição</h5>
         <p>{{ product?.description | titlecase }}</p>
      </div>
      <div class="about">
         <h5>Sobre essa loja</h5>
         <!-- profile aqui -->
         <a [routerLink]="['/store', store?.id]">Ver loja</a>
      </div>
      <div class="related-products">
         <h5>Mais desta loja</h5>
         <div class="list">
            
         </div>
      </div>
   </div>
</section>
