/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f5f4f4;
}

.navbar-toggler:focus {
  box-shadow: unset;
}

.form-control {
  &:focus {
    border: unset;
    box-shadow: unset;
  }
}

.card {
  background-color: transparent !important;
}
