/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f5f4f4;
}

.navbar-toggler:focus {
  box-shadow: unset;
}

.form-control {
  &:focus {
    border: unset;
    box-shadow: unset;
  }
}

/* MENUS */
.navbar {
  .navbar-brand {
    font-weight: 600;
  }

  .navbar-right {
    a {
      color: unset;
    }

    .navbar-toggler {
      border: unset;
    }
  }

  .navbar-collapse {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  img {
    height: 21px;
  }
}

/* SEARCH BAR */
.search {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  .input-group-search>input,
  .input-group-text,
  .input-group-text>button {
    border: unset;
  }

  .input-group-search {
    input {
      color: #212529;

      &::placeholder {
        color: #bdbdbd;
      }
    }
  }

  .input-group-text {
    color: #bdbdbd;
  }
}

.profile-info {
  font-size: 14px;
  font-weight: 600;

  img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0 .25rem 0 0;
  }
}

/* STORE */
.store {
  margin-bottom: 1.5rem;

  .featured {
    img {
      width: calc(33% - 2px);
      height: 100%;

      &.card-img-top {
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        margin-left: 1px;
        margin-right: 1px;

        &:first-child {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
        }

        &:last-child {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
        }
      }
    }
  }
}

/* CARD PRODUCT */
.card {
  background-color: transparent !important;
}

/* PRODUCTS PAGE */
.product {
  .image {
    margin: 0;
  }

  .info {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 3px solid #f8f9fa;

    .profile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: .25rem;
    }

    h3 {
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      margin-bottom: .25rem;
    }

    .price {
      font-size: 14px;
      line-height: 18px;
      font-weight: 300;
      margin-bottom: 0;
    }
  }

  .description {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 3px solid #f8f9fa;

    h5 {
      font-size: 14px;
      font-weight: 600;
    }

    p {
      margin-bottom: 0;
    }

    .btn-outline-light {
      color: #6c757d;
      border-color: #6c757d;

      &:hover {
        color: #fff;
        background-color: #6c757d;
        border-color: inherit;
      }
    }
  }

  .related-products {
    margin: 0;
    padding: 1rem 0;

    h5 {
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 72px);

  .not-find {
    display: block;
    text-align: center;
    padding: 0 20px;
    width: 300px;

    .icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border: 1px solid #212529;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    h3 {
      font-size: 16px;
      width: 154px;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      font-size: 12px;
    }
  }
}
